<%- include("partials/header.ejs") %>

<body> 


  <div class="sand-background pt-2" >
    <h1 class="theborder" style="font-size: 50px; padding-top: 3%; padding-bottom: 3%;" >WELCOME STRANGER</h1>
    <h1 class="theborder" style="font-size: 50px; font-weight: bold; padding-top: 3%; padding-bottom: 3%; " >YOU ARE IN THE RIGHT PLACE TO FIND JOB</h1>
    <h1 class="theborder " style="font-size: 50px; padding-top: 3%; padding-bottom: 3%;" >GO TO FIND JOB 🔝</h1>

  </div>
  <div style="padding-left: 100px" class="sand-background" >
    <h1 class="theborder animate-charcter" style="font-size: 50px; font-weight: bold; padding-top: 3%; padding-bottom: 3%;" >VISUAL THE MAGIC BECOMING REALITY!*</h1>
  </div>

  <!-- Kai meta to parakato einai gia to index.js -->
  <script src="index.js" charset="UTF-8"></script> 
  <!-- toy bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

<%- include("partials/footer.ejs") %>
